/* Utilities for corner shapes (experimental) */

@utility corner-round {
	corner-shape: round;
}

@utility corner-squircle {
	corner-shape: squircle;
}

@utility corner-scoop {
	corner-shape: scoop;
}

@utility corner-notch {
	corner-shape: notch;
}

@utility corner-superellipse-* {
	corner-shape: superellipse(--value(number));
	corner-shape: superellipse(--value([number]));
}
