---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '../lib/utils';

type Props = HTMLAttributes<'div'>;

const { class: className, ...rest } = Astro.props;
---

<div
	class={cn('pointer-events-none absolute h-full w-full overflow-hidden opacity-50 perspective-[200px]', className)}
	{...rest}
>
	<div class="absolute inset-0 transform-[rotateX(35deg)]">
		<div
			class={cn(
				'animate-grid text-foreground/20 dark:text-foreground/25',

				'bg-repeat bg-size-[60px_60px] h-[300vh] inset-[0%_0px] ml-[-50%] origin-[100%_0_0] w-[600vw]',

				'bg-[linear-gradient(to_right,currentColor_1px,transparent_0),linear-gradient(to_bottom,currentColor_1px,transparent_0)]'
			)}
		>
		</div>
	</div>

	<div class="absolute inset-0 bg-linear-to-t from-foreground to-transparent to-90%"></div>
</div>
