---
import { cn } from '../lib/utils';
import { cva, type VariantProps } from 'class-variance-authority';
import type { HTMLAttributes } from 'astro/types';

export const buttonVariants = cva(
	'inline-flex items-center justify-center whitespace-nowrap rounded-xl text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 active:shadow-[inset_0_2px_4px_rgba(0,0,0,0.1)]',
	{
		variants: {
			variant: {
				default:
					'text-primary-foreground bg-gradient-to-t from-primary/75 to-primary hover:opacity-95 backdrop-blur-md shadow-[inset_0px_1px_1px_rgba(255,255,255,0.3),inset_0px_-1.5px_2px_rgba(0,0,0,0.3)]',
				outline: 'border border-foreground/30 outline outline-[1px] outline-black shadow-sm hover:bg-card bg-card/50',
				ghost: 'hover:bg-primary hover:text-primary-foreground active:shadow-none',
				link: 'text-primary underline-offset-4 hover:underline'
			},
			size: {
				default: 'h-9 px-4 py-2',
				sm: 'h-8 rounded-lg px-3 text-xs',
				lg: 'h-10 rounded-xl px-8',
				icon: 'h-9 w-9'
			}
		},
		defaultVariants: {
			variant: 'default',
			size: 'default'
		}
	}
);

interface Props extends HTMLAttributes<'button'>, VariantProps<typeof buttonVariants> {}

const { class: className, variant, size, ...rest } = Astro.props;
---

<button class={cn(buttonVariants({ variant, size, className }))} {...rest}>
	<slot />
</button>
