---
import { cn } from "../lib/utils";

type Props = {
    class?: string;
};

const { class: className } = Astro.props;
---

<script>
    const headerContainerClasses = ["top-4"];
    const headerScrolledClasses = [
        "bg-card/60",
        "!border-t",
        "!border-x-border",
        "!md:mx-8",
        "!mx-2",
        "!px-4",
        "!rounded-2xl",
        "![mask-image:none]",
    ];
    const handleScroll = () => {
        const header = document.querySelector("header");
        const headerContainer = document.querySelector("#header-container");

        if (window.scrollY > 50) {
            header?.classList.add(...headerScrolledClasses);
            headerContainer?.classList.add(...headerContainerClasses);
        } else {
            header?.classList.remove(...headerScrolledClasses);
            headerContainer?.classList.remove(...headerContainerClasses);
        }
    };
    document.addEventListener("astro:page-load", () => {
        window.addEventListener("scroll", handleScroll);
    });
</script>
<div
    id="header-container"
    class={cn(
        "max-w-6xl w-full sticky top-4 self-center flex flex-col top-0 transition-all duration-300 ease-in-out",
        className
    )}
>
    <header
        class={cn(
            "border border-t-0 border-x-transparent mx-0 [mask-image:linear-gradient(to_right,transparent,black_40px,black_90%,transparent)]",
            "transition-all duration-300 ease-in-out rounded-2xl rounded-t-none rounded-l-none rounded-r-none p-3 md:px-10 self-stretch backdrop-filter backdrop-blur-lg"
        )}
    >
        <nav class="flex">
            <a
                class="text-lg tracking-tight font-semibold mx-2 text-foreground"
                href="#home"
            >
                <span class="text-foreground/70 mr-1 font-light">/</span
                >rubenbupe
            </a>
        </nav>
    </header>
</div>
