---
import Anchor from "../components/Anchor.astro";
import { BackgroundChess } from "../components/BackgroundChess";
import { FlipWords } from "../components/FlipWords";
import Section from "../components/Section.astro";
import { mailUrl } from "../constants/site";
---

<div class="relative w-full flex flex-col h-[80vh] overflow-hidden">
    <Section
        id="jobs"
        class="py-24 h-full flex flex-col justify-center items-center"
    >
        <div
            class="absolute inset-0 w-full h-full bg-background z-20 [mask-image:radial-gradient(transparent,white)] pointer-events-none"
        >
        </div>
        <BackgroundChess className="" client:load />
        <h2
            class="relative text-4xl font-bold tracking-tight sm:text-5xl md:text-6xl"
        >
            <span aria-hidden="false" class="visually-hidden"
                >Let's build the future together</span
            >
            <span aria-hidden="true">
                Let's build<FlipWords
                    words={["together", "the future"]}
                    client:load
                />
            </span>
        </h2>
        <p
            class="relative mt-4 max-w-lg leading-normal text-foreground/80 md:text-lg text-center"
        >
            My inbox is always open. Whether you have an opportunity, a project
            you'd like to discuss, or a question, I'll try my best to get back
            to you!
        </p>
        <Anchor size="default" href={mailUrl} target="_blank" class="mt-8">
            Get in touch
        </Anchor>
    </Section>
    <p class="relative mt-auto mb-2 text-center text-foreground/80">
        © {new Date().getFullYear()} Rubén Buzón.
    </p>
</div>
